body {
    margin: auto 0;
}

p {
    margin-top: 24px;
}

/* Logo */
.logo-home {
    padding-top: 2px;
    height: 40px;
    font-size: 25px;
}

.logo {
    font-family: 'Ruthie', cursive;
}

.logo-position {
    padding-top: calc(60vh / 2);
    font-size: 100px;
}

h5 {
    font-size: 1.8rem;
}

/* Separator */
.separator-class {
    height: 61px;
}

/* Nav */
.navbar-light .navbar-brand {
    color: #1E5F9F;
}
.navbar-light .navbar-nav .nav-link {
    color: #1E5F9F;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.rectangle-class {
    padding: 4px 5px 4px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
}

/* Cover */
.cover-image {
    width: 100%;
    height: calc(100vh - 61px);
    padding: 0;
}
#cover {
    position:relative;
}
#cover::before {
    content: "";
    position: absolute;
    background: url("./img/cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: calc(100vh - 61px);
    left:0;
    top:0;
    z-index: -1;
    opacity: 0.3;
}

/* Why us cards */
#why-us {
    margin-right: 1%;
    margin-left: 1%;
}

#why-us-card {
    border: none;
    padding: 0 60px;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
}

.why-us-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    color: #1E5F9F;
}

.why-us-icon {
    align-self: center;
    height: 150px;
    width: 150px;
}

#event {
    margin: 15px 0;
    height: 120px;
}

/* Join us */
.btn-primary {
    background-color: #003471;
    border-color: #003471;
}

/* Error */
#error{
    color: #ff0099;
    font-size: 0.8em;
    font-weight: bold;
}